* {
    font-family: monospace;
}

a {
    color: white;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
  margin: 0;
}

body {
    background: black;
    margin: 0;
}

img {
    max-width: 80%;
}

.wrapper {
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    
    /*background-size: 300% 300%;
    background-image: linear-gradient(-45deg, rgb(11, 0, 60) 0%, rgb(5, 0, 23) 25%, rgb(32, 0, 0) 51%, #000a60 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
            animation: AnimateBG 20s ease infinite;*/

    background:
        radial-gradient(circle at 20% 20%, #01161e, transparent 40%),
        radial-gradient(circle at 80% 30%, #598392, transparent 40%),
        radial-gradient(circle at 50% 80%, #000000, transparent 40%);
    background-size: 200% 200%;
    animation: aurora 30s ease-in-out infinite;
}

.site-content {
  max-width: min(900px, 90vw);
  gap: 40px;
  padding: 20px;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20px;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100vw;
    position: sticky;
    padding-bottom: 40px;
    max-width: 900px;
    padding-top: 40vh;
    padding-bottom: 20vh;
}

.main-content {
  width: 100vw;
  max-width: 900px;
}

.container {
  color: white;
  border-radius: 4px;
  padding: 8px;
  width: 100vw;
  max-width: 100%;
}

.container#projects {
  opacity: 0;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container p {
  max-width: 700px;
}

.container-post {
  border: solid 1px white;
  padding: 10px;
  border-radius: 8px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: solid 1px rgba(255,255,255,0.2);
}

.container-header img {
  width: 100px;
  height: 100px
}

.container-header .tagline {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container-header .tagline .taglist {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 4px;
}

.container-header .tagline .taglist span {
  background-image: linear-gradient(45deg, rgba(66, 60, 90, 0.4), rgba(66, 60, 90, 0.4));
  padding: 4px;
  border-radius: 4px;
  border: solid 1px #01161e;
  white-space: nowrap;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}

  
  @-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

    body {
      min-height: 100vh;
      margin: 0;
      background: #01161e;
    }
  
    @keyframes aurora {
      0% {
        background-position: 0% 0%, 100% 0%, 50% 100%;
      }
  
      50% {
        background-position: 100% 100%, 0% 50%, 50% 0%;
      }
  
      100% {
        background-position: 0% 0%, 100% 0%, 50% 100%;
      }
    }
  